[submodule "tools/common"]
	path = tools/common
	url = https://github.com/open-ead/nx-decomp-tools
	branch = master
[submodule "toolchain/musl"]
	path = toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl
	branch = master
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/snrubrm/sead
	branch = botw
[submodule "lib/NintendoSDK"]
	path = lib/NintendoSDK
	url = https://github.com/snrubrm/nnheaders
	branch = botw
[submodule "lib/agl"]
	path = lib/agl
	url = https://github.com/snrubrm/agl
	branch = botw
[submodule "lib/EventFlow"]
	path = lib/EventFlow
	url = https://github.com/snrubrm/EventFlow
	branch = botw
[submodule "toolchain/nx-decomp-tools-binaries"]
	path = toolchain/nx-decomp-tools-binaries
	url = https://github.com/open-ead/nx-decomp-tools-binaries
	branch = master
[submodule "lib/xlink2"]
	path = lib/xlink2
	url = https://github.com/snrubrm/xlink2
	branch = botw
